@import "../../variables";

.container {
  display:        flex;
  flex-direction: column;
  width:          650px;
}

.showMoreButton {
  width:     33%;
  max-width: 300px;
  margin:    1rem auto;
  height:    2rem;
  cursor:    pointer;
}

.failure {
  text-align: center;
  margin:     5rem;
  font-size:  2rem;
}